[Unit]
Description=Kubernetes Proxy Server
After=network.target

[Service]
ExecStart=/usr/local/bin/kubelet \
                    --etcd_servers=http://{{ hostvars[primary_docker_host].mgmt_addr }}:4001 \
                    --address={{ mgmt_addr }} \
                    --port=10250

Restart=on-failure
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
